altair==6.0.0
beautifulsoup4==4.14.2
boto3==1.40.17
elasticsearch==8.13.0
feedparser==6.0.12
httpx==0.28.1
joblib==1.5.2
minio==7.2.16
networkit==11.1
networkx==3.4.2
numpy==2.3.4
pandas==2.3.3
pydantic==2.12.4
pyspark==4.0.1
pytest==8.4.2
pyvis==0.3.2
Requests==2.32.5
scikit_learn==1.7.2
scipy==1.16.3
starlette==0.50.0
uvicorn==0.38.0
