# Environment variables
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
SHELL=/bin/bash

# Update elasticsearch data every 5 minutes
*/5 * * * * /usr/local/bin/python3 /app/etl_mysql_to_es.py >> /app/cron_log/cron.log 2>&1

# Update keywords and update categoryESG every 12 hours 
0 4,16 * * * /usr/local/bin/python3 /app/etl_keyword_pyscript.py >> /app/cron_log/cron.log 2>&1

# Rotate log file every day at midnight
0 0 * * * /usr/local/bin/python3 /app/log_manager.py >> /app/cron_log/log_rotate.log 2>&1
0 0 * * * /usr/local/bin/python3 /app/etl_categoryESG_update.py >> /app/cron_log/cron.log 2>&1

# End of file with a newline
