name: Airflow CI (Astro)

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Astronomer CLI
        run: |
          curl -sSL https://install.astronomer.io | bash -s -- --user
          echo "$HOME/.astro/bin" >> $GITHUB_PATH
          astro version

      - name: Build Airflow image
        run: astro dev build

      - name: Run Astro Pytest
        run: astro dev pytest --no-cache
