name: search CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Astronomer CLI
        run: |
          curl -sL "https://github.com/astronomer/astro-cli/releases/latest/download/astro_$(uname -s)_amd64.tar.gz" -o astro.tar.gz
          mkdir -p $HOME/.astro/bin
          tar -xzf astro.tar.gz -C $HOME/.astro/bin
          chmod +x $HOME/.astro/bin/astro
          echo "$HOME/.astro/bin" >> $GITHUB_PATH
          $HOME/.astro/bin/astro version

      - name: Build Airflow image
        run: astro dev build

      - name: Run Astro Pytest
        run: astro dev pytest --no-cache

